.login-information {
    min-width: 300px;
    flex: 0;
    background: var(--lumo-primary-color-50pct);
}

/* Stack login-screen vertically on narrow screen */
@media (max-width: 800px) {

    .login-screen {
        flex-direction: column;
    }

    .login-information {
        display: block;
    }
}

.main-layout {
    flex-direction: row;

    /* Used by the menu and form overlays */
    --overlay-box-shadow: 0 0 3px 2px var(--lumo-contrast-10pct);
}

.menu-bar {
    flex-direction: column;
    flex-shrink: 0;
    background: var(--lumo-base-color);
    box-shadow: var(--overlay-box-shadow);
}

.menu-header {
    padding: 11px 16px;
}

.menu-bar vaadin-tabs {
    align-items: flex-start;
    transition: transform 300ms;
}

.menu-bar vaadin-tab {
    padding: 0;
}

.menu-link {
    margin: 0 auto;
    padding: 10px 37px;
}

.menu-link > span {
    display: block;
}

.menu-button {
    display: none;
}

.product-form {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: auto;
    top: 0;
    left: auto;
    box-shadow: var(--overlay-box-shadow);
}

vaadin-dialog-overlay::part(overlay) {
	border-radius: 0;
	height: 100%;
}

vaadin-confirm-dialog-overlay::part(header) {
	background-color: var(--lumo-warning-color-10pct);
    color: var(--lumo-warning-text-color);
}

vaadin-confirm-dialog-overlay::part(message) {
    padding-top: var(--lumo-size-s);
}

vaadin-connection-indicator {
    position: fixed;
    z-index: 251;
    top: 50%;
    width: 20%;
    left: 40%;
}

vaadin-checkbox-group.scroll::part(group-field) {
	height: 200px;
	overflow: auto;
    width: 420px;
    display: grid;
    grid-template-columns: 200px 200px;	
}

.v-loading-indicator {
    position: unset !important;
    height: 10px;
    z-index: unset !important;
    left: unset !important;
    top: unset !important;
    right: unset !important;
    background: var(--lumo-primary-color-50pct);
    border-radius: var(--lumo-border-radius-m);
    border: 1px solid var(--lumo-primary-color);
}

/* On narrow screens, move the side bar to the top,
 * except for the link-tabs, which are hidden but
 * can be opened via a button.
 */
@media (max-width: 800px) {

    .main-layout {
        flex-direction: column;
        --top-bar-height: 50px;
        --top-bar-margin: 5vw;
    }

    .menu-bar {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        height: var(--top-bar-height);
        margin: 0 var(--top-bar-margin);
        background: none;
        box-shadow: none;
    }

	.menu-bar vaadin-side-nav {
		display: none;
	}

    .menu-bar vaadin-tabs {
        transform: translateX(calc(-100% - var(--top-bar-margin)));
        position: absolute;
        top: var(--top-bar-height);
        height: calc(100% - var(--top-bar-height));
        z-index: 100;
        box-shadow: var(--overlay-box-shadow);
        background: var(--lumo-base-color);
    }

    .menu-bar vaadin-side-nav.show-tabs {
    	display: block;
		position: absolute;
    	top: 50px;
   		z-index: 1;
    	border: 1px solid var(--lumo-contrast-20pct);
    	background: white;
    	box-shadow: var(--lumo-box-shadow-s);
    }

    .menu-button {
        display: block;
    }

    .product-form {
        height: calc(100% - var(--top-bar-height));
    }

    .availability-label {
        display: none;
    }
}

@media (max-width: 570px) {

    .product-form {
        width: 100%;

        /* Prevent text-fields from overflowing on narrow screens */
        --vaadin-text-field-default-width: 6em;
    }

	vaadin-dialog-overlay::part(overlay) {
		width: 100%;
	}

	vaadin-confirm-dialog-overlay::part(overlay) {
		width: 50%;
	}

}

/* Color codes for the availability statuses of the products */
.Available {
    color: var(--lumo-success-color,#2dd085);
}

.Coming {
    color: var(--lumo-warning-color,#ffc66e);
}

.Discontinued {
    color: var(--lumo-error-color, #f54993);
}

.dirty::part(input-field) {
	background: var(--lumo-warning-color-10pct);
	border: 1px dashed var(--lumo-warning-color);
}

.dirty::part(group-field) {
	border: 1px dashed var(--lumo-warning-color);
}

.dirty > vaadin-checkbox {
    --lumo-contrast-20pct: var(--lumo-warning-color-10pct);
    --lumo-primary-color: var(--lumo-warning-text-color);
    --lumo-contrast-30pct: var(--lumo-warning-color);
}
